# Unreal Engine
Binaries
DerivedDataCache
Intermediate
Saved
Plugins
.vscode
.vs
.idea
*.VC.db
*.VC.opendb
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.opensdf
*.sdf
*.tlog
*.log
*.pdb
*.ipch
*.obj
*.dll
*.exe
*.lib
*.app
*.dSYM
*.dylib
*.autosave
*.backup